In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
from hot_sauce.hot_sauce import (
    HotSauceData,
)

In [3]:
HotSauceData().sample(10)

   0  1    2
0  1  5  1.5
1  1  5  1.5
2  1  5  1.5
3  1  5  1.5
4  1  5  1.5
5  1  5  1.5
6  1  5  1.5
7  1  5  1.5
8  1  5  1.5
9  1  5  1.5