In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
from hot_sauce.config import Peppers
from hot_sauce.hot_sauce import (
    HotSauceData,
    sample_peppers,
    compute_color,
    enum_to_data_frame,
)

In [3]:
p = list(p for p in Peppers)[0]

In [4]:
p.name

'BANANA'

In [5]:
HotSauceData().sample(10)

,BANANA,JALAPENO,GUAJILLO,CAYENNE,HABANERO,RED_SAVINA,NAGA_MORICH,COLOR,AGE,HOTNESS
0,False,True,False,False,True,False,False,0.511684,5,1.5
1,False,False,False,True,True,False,False,0.723819,5,1.5
2,False,False,False,False,True,False,False,0.720054,5,1.5
3,False,False,False,False,True,False,False,0.717031,5,1.5
4,False,True,False,False,True,False,False,0.492483,5,1.5
5,False,False,False,False,True,False,False,0.714228,5,1.5
6,False,False,False,False,False,False,True,0.261977,5,1.5
7,True,True,True,False,True,False,False,0.512640,5,1.5
8,False,False,False,True,True,False,False,0.755702,5,1.5
9,True,False,False,True,True,False,False,0.584074,5,1.5

In [6]:
peppers = sample_peppers(10)

In [7]:
compute_color(peppers)

0    0.779839
1    0.250534
2    0.753532
3    0.508949
4    0.520523
5    0.759434
6    0.754113
7    0.446488
8    0.729937
9    0.246225
Name: COLOR, dtype: float64

In [8]:
np.concatenate