In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
from hot_sauce.config import Peppers
from hot_sauce.hot_sauce import (
    HotSauceData,
    sample_peppers,
    enum_to_data_frame,
)

In [3]:
p = list(p for p in Peppers)[0]

In [4]:
p.name

'BANANA'

In [5]:
HotSauceData().sample(10)

,BANANA,JALAPENO,GUAJILLO,CAYENNE,HABANERO,RED_SAVINA,NAGA_MORICH,0,1
0,False,False,False,True,True,False,False,5,1.5
1,False,False,False,False,True,False,False,5,1.5
2,False,False,False,False,True,False,False,5,1.5
3,False,False,False,True,True,False,False,5,1.5
4,False,True,False,False,True,False,True,5,1.5
5,False,False,True,False,False,True,False,5,1.5
6,True,True,False,False,True,False,False,5,1.5
7,False,False,False,False,False,True,False,5,1.5
8,True,True,False,False,True,False,False,5,1.5
9,False,True,False,True,True,False,False,5,1.5

In [6]:
sample_peppers(10)

[[<Peppers.CAYENNE: 4>, <Peppers.HABANERO: 5>],
 [<Peppers.JALAPENO: 2>, <Peppers.HABANERO: 5>],
 [<Peppers.JALAPENO: 2>, <Peppers.CAYENNE: 4>, <Peppers.HABANERO: 5>],
 [<Peppers.BANANA: 1>, <Peppers.CAYENNE: 4>],
 [<Peppers.JALAPENO: 2>, <Peppers.CAYENNE: 4>],
 [<Peppers.JALAPENO: 2>, <Peppers.HABANERO: 5>],
 [<Peppers.JALAPENO: 2>, <Peppers.HABANERO: 5>],
 [<Peppers.JALAPENO: 2>, <Peppers.CAYENNE: 4>, <Peppers.HABANERO: 5>],
 [<Peppers.CAYENNE: 4>],
 []]